/* DEFAULTS */

* {
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Serif", serif;
}
/* forms */
form {
  width: 60%;
  margin: 5px auto;
  padding-bottom: 50px;
}
form input[type="file"],
input[type="email"],
input[type="password"],
input[type="text"],
form select,
form textarea {
  width: 100%;
  display: block;
  padding: 13px 13px;
  font-size: 1em;
  margin: 5px auto 10px;
  border-radius: 3px;
  box-sizing: border-box;
  background: transparent;
  border: 1px solid #3e606f;
}
input[type="checkbox"] {
  height: 20px;
  float: left;
}
form button {
  float: right;
  margin-left: 24%;
}
form input:focus {
  outline: none;
}
label {
  margin-top: 20px;
  float: left;
}
/* tables */
table {
  border-collapse: collapse;
  width: 70%;
  margin: 20px auto;
}
th,
td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
}
th {
  text-align: center;
}
/* buttons */
.btn {
  color: white;
  background: #4e6166;
  text-align: center;
  border: none;
  border-radius: 5px;
  display: block;
  letter-spacing: 0.1em;
  padding: 13px 20px;
  text-decoration: none;
}

/* * HEADER */

.header {
  padding: 15px 45px;
  font-family: "Noto Serif", serif;
  color: white;
  background: black;
}
.header .logo {
  width: 50%;
  float: left;
}
.header .logo h1 {
  color: white;
}
.header .user-info {
  margin-top: 10px;
  margin-left: 5px;
  padding: 5px;
  float: right;
}
.header .logout-btn {
  color: red;
  text-decoration: none;
}
.header:after {
  content: "";
  display: block;
  clear: both;
}

/* * DASHBOARD */

.container:after {
  content: "";
  display: block;
  clear: both;
}
.container.dashboard h1 {
  text-align: center;
  margin: 25px;
}
.container.dashboard .stats a {
  display: inline-block;
  padding: 30px;
  margin: 10px;
  width: 215px;
  text-align: center;
  border-radius: 3px;
  border: 1px solid #bfbcb3;
}

.container.dashboard .stats a:hover {
  cursor: pointer;
  background-color: #e1e1e1;
}
.container.dashboard .buttons a {
  display: inline-block;
  width: 215px;
  margin: 10px;
  text-decoration: none;
  color: #444;
  padding: 10px 25px;
  border: none;
  background-color: #0e7d92;
  color: white;
  text-align: center;
}

/* * PAGE CONTENT */

.container.content .menu {
  float: left;
  padding: 40px 10px;
}
/* Menu card */
.container.content .menu .card .card-header {
  padding: 10px;
  text-align: center;
  border-radius: 3px 3px 0px 0px;
  background: #3e606f;
}
.container.content .menu .card .card-header h2 {
  color: white;
}
.container.content .menu .card .card-content a {
  display: block;
  box-sizing: border-box;
  padding: 8px 10px;
  border-bottom: 1px solid #e4e1e1;
  color: #444;
}
.container.content .menu .card .card-content a:hover {
  padding-left: 20px;
  background: #f9f9f9;
  transition: 0.1s;
}
/* Actions div*/
.container.content .action {
  width: 35%;
  float: left;
  text-align: center;
}
.container.content .action form {
  width: 90%;
}
.container.content .action .page-title {
  margin: 25px;
}
.container.content .action.create-post-div {
  width: 80%;
}

/* Table div (Displaying records from DB) */

.table-div .message {
  width: 90%;
  margin-top: 20px;
}

.table-div a.fa {
  color: white;
  padding: 3px;
}
.table-div .edit {
  background: #004220;
}
.table-div .delete {
  background: #f70e1a;
}
.table-div .publish {
  background: red;
}
.table-div .unpublish {
  background: green;
}

/* * VALIDATION ERRORS */

.message {
  width: 100%;
  margin: 0px auto;
  padding: 10px 0px;
  color: #3c763d;
  background: #dff0d8;
  border: 1px solid #3c763d;
  border-radius: 5px;
  text-align: center;
}
.error {
  color: #a94442;
  background: #f2dede;
  border: 1px solid #a94442;
  margin-bottom: 20px;
}
.validation_errors p {
  text-align: left;
  margin-left: 10px;
}

/* User Profile */
.profile-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.profile-wrapper .profile-name {
  display: flex;
}
.profile-image {
  object-fit: cover;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.user-content {
  display: grid;
  grid-template-columns: repeat(2, 40%);
  grid-template-rows: 1fr;
  grid-gap: 20px;
  justify-content: center;
  text-align: center;
}
.user-blogs {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 5px;
  border-radius: 5px;
  background: white;
}
.user-blogs * {
  margin: 0 auto;
  padding: 6px;
}

.post_image {
  object-fit: fill;
  width: 100%;
  height: 300px;
}
.continue-reading {
  width: 150px;
  padding: 5px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  color: white;
  background: #276fbf;
}

@media only screen and (max-width: 850px) {
  .user-content {
    grid-template-columns: repeat(2, 50%);
  }
  .create-post-div {
    width: 100% !important;
  }
}
@media only screen and (max-width: 700px) {
  .user-content {
    grid-template-columns: 1fr;
  }
}
