**************** *** DEFAULTS *****************/ * {
  margin: 0px;
  padding: 0px;
}

html {
  height: 100%;
  box-sizing: border-box;
}
body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  background: whitesmoke;
}
/* HEADINGS DEFAULT */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444;
  font-family: "Averia Serif Libre", cursive;
}
a {
  text-decoration: none;
}
ul,
ol {
  margin-left: 40px;
}
hr {
  margin: 10px 0px;
  opacity: 0.25;
}

/* FORM DEFAULTS */
form h2 {
  margin: 25px auto;
  text-align: center;
  font-family: "Averia Serif Libre", cursive;
}
form input {
  width: 100%;
  display: block;
  padding: 13px 13px;
  font-size: 1em;
  margin: 5px auto 10px;
  border-radius: 3px;
  box-sizing: border-box;
  background: transparent;
  border: 1px solid #3e606f;
}

form input:focus {
  outline: none;
}
/* BUTTON DEFAULT */
.btn {
  text-align: center;
  border: none;
  border-radius: 5px;
  display: block;
  width: 50%;
  letter-spacing: 0.1em;
  margin: 10px 0px;
  padding: 12px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
}
.container {
  /* width: 80%; */
  margin: 0px auto;
}
/* NAVBAR */
.navbar {
  height: auto !important;
  background-color: #292929 !important;
}
.navbar .collapse .navbar-nav .nav-link:hover {
  color: red;
}

/* FOOTER */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 20px;
  right: 0;
  bottom: 7px;
  left: 0;
  color: white;

  width: 95%;
  background-color: #292929;
  margin: 20px auto 0px;
  padding: 20px 0px;
}

/* CONTENT */
.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
}

.content .post .post_image {
  min-height: 360px;
  max-height: 360px;
  width: 100%;
  margin-bottom: 8px;
}
/* POST: */
.post {
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  min-height: 500px;
  background: white;
}
.post:hover {
  transform: scale(1.05);
  transition: linear;
}
.continue-reading {
  width: 150px;
  padding: 5px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  /* color: rgb(24, 48, 89); */
  color: white;
  background: #276fbf;
}
/* NOTIFICATION MESSAGES */
.message {
  width: 100%;
  margin: 0px auto;
  padding: 10px 0px;
  color: #3c763d;
  background: #dff0d8;
  border: 1px solid #3c763d;
  border-radius: 5px;
  text-align: center;
}
.error {
  color: #a94442;
  background: #f2dede;
  border: 1px solid #a94442;
  margin-bottom: 20px;
}
.validation_errors p {
  text-align: left;
  margin-left: 10px;
}
.logged_in_info {
  text-align: left;
}

/* SHOW POST */
.show-post {
  width: 80% !important;
  padding: 10px;
  min-height: 100vh;
  border: 2px solid white;
  border-radius: 5px;
}

.show-post img {
  width: 60%;
}
.container .post a {
  text-decoration: none;
}
.register_div {
  width: 40%;
  margin: 20px auto;
}
.login_div {
  width: 47%;
  margin: 20px auto;
}

/* Show password */
.pass_field_div {
  position: relative;
}
.show_pass {
  position: absolute;
  top: 30%;
  right: 11%;
}

/* MEDIA QURIES */
@media only screen and (max-width: 872px) {
  .content {
    grid-template-columns: repeat(2, 50%);
  }
}
@media only screen and (max-width: 752px) {
  .register_div {
    width: 100%;
  }
  .login_div {
    width: 100%;
  }
  .forgot_pass form input {
    width: 100% !important;
    margin-top: 25px;
  }
}

@media only screen and (max-width: 580px) {
  .content {
    grid-template-columns: 100%;
  }
}
