**************** *** DEFAULTS *****************/ * {
  margin: 0px;
  padding: 0px;
}

html {
  height: 100%;
  box-sizing: border-box;
}
body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}
/* HEADINGS DEFAULT */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444;
  font-family: "Averia Serif Libre", cursive;
}
a {
  text-decoration: none;
}
ul,
ol {
  margin-left: 40px;
}
hr {
  margin: 10px 0px;
  opacity: 0.25;
}

/* FORM DEFAULTS */
form h2 {
  margin: 25px auto;
  text-align: center;
  font-family: "Averia Serif Libre", cursive;
}
form input {
  width: 100%;
  display: block;
  padding: 13px 13px;
  font-size: 1em;
  margin: 5px auto 10px;
  border-radius: 3px;
  box-sizing: border-box;
  background: transparent;
  border: 1px solid #3e606f;
}

form input:focus {
  outline: none;
}
/* BUTTON DEFAULT */
.btn {
  text-align: center;
  border: none;
  border-radius: 5px;
  display: block;
  width: 50%;
  letter-spacing: 0.1em;
  margin: 10px 0px;
  padding: 12px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
}
.container {
  width: 80%;
  margin: 0px auto;
}
/* NAVBAR */
.navbar {
  height: 50% !important;
}
.navbar .collapse .navbar-nav .nav-link:hover {
  color: red;
}

/* FOOTER */
.footer {
  position: absolute;
  height: 20px;
  right: 0;
  bottom: 0;
  left: 0;
  color: white;
  text-align: center;
  width: 80%;
  margin: 20px auto 0px;
  padding: 20px 0px;
}
/* BANNER */
.banner {
  margin: 5px auto;
  background-image: url(../images/bannerNew.jpg);
  border-radius: 5px;
  background-size: 100% 100%;
}
.banner .login-div .login-form input {
  background: red;
}
.banner .a:hover {
  color: blue !important;
}

/* CONTENT */
.content .post .post_image {
  height: 260px;
  width: 100%;
  background-size: 100%;
}

/* NOTIFICATION MESSAGES */
.message {
  width: 100%;
  margin: 0px auto;
  padding: 10px 0px;
  color: #3c763d;
  background: #dff0d8;
  border: 1px solid #3c763d;
  border-radius: 5px;
  text-align: center;
}
.error {
  color: #a94442;
  background: #f2dede;
  border: 1px solid #a94442;
  margin-bottom: 20px;
}
.validation_errors p {
  text-align: left;
  margin-left: 10px;
}
.logged_in_info {
  text-align: right;
}
/* POST: */
.post {
  padding: 2px;
  margin-top: 5px;
  border-top: 2px solid black;
}
/* SHOW POST */
.show-post {
  width: 80% !important;
  padding: 10px;
  min-height: 100vh;
  border: 2px solid white;
  border-radius: 5px;
}

.show-post img {
  width: 60%;
}
.container .post a {
  text-decoration: none;
}
.register_div {
  width: 40%;
  margin: 20px auto;
}
.login_div {
  width: 47%;
  margin: 20px auto;
}

/* Show password */
.pass_field_div {
  position: relative;
}
.show_pass {
  position: absolute;
  top: 30%;
  right: 11%;
}
/* MEDIA QURIES */

@media only screen and (max-width: 732px) {
  .register_div {
    width: 100%;
  }
  .login_div {
    width: 100%;
  }
  .forgot_pass form input {
    width: 100% !important;
    margin-top: 25px;
  }
}
