/* Actions div*/
.container.content .action {
  width: 35%;
  float: left;
  text-align: center;
}
.container.content .action form {
  width: 90%;
}
.container.content .action .page-title {
  margin: 25px;
}
.container.content .action.create-post-div {
  width: 80%;
}
