/* buttons */
.btn {
  color: $btn-color;
  background: $btn-background;
  text-align: center;
  border: none;
  border-radius: 5px;
  display: block;
  letter-spacing: 0.1em;
  padding: 13px 20px;
  text-decoration: none;
}
