.btn {
  text-align: center;
  border: none;
  border-radius: 5px;
  display: block;
  width: 50%;
  letter-spacing: 0.1em;
  margin: 10px 0px;
  padding: 12px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
}
