/* FORM DEFAULTS */
form h2 {
  margin: 25px auto;
  text-align: center;
  font-family: "Averia Serif Libre", cursive;
}
form input {
  width: 100%;
  display: block;
  padding: 13px 13px;
  font-size: 1em;
  margin: 5px auto 10px;
  border-radius: 3px;
  box-sizing: border-box;
  border: 1px solid black;
}

form input:focus {
  outline: none;
}

.register_div {
  width: 40%;
  margin: 20px auto;
}
.login_div {
  width: 47%;
  margin: 20px auto;
}
/* Show password */
.pass_field_div {
  position: relative;
}
.show_pass {
  position: absolute;
  top: 30%;
  right: 11%;
}

@media only screen and (max-width: 752px) {
  .register_div {
    width: 100%;
  }
  .login_div {
    width: 100%;
  }
  .forgot_pass form input {
    width: 100% !important;
    margin-top: 25px;
  }
}
