/* Menu card */
.container.content .menu .card .card-header {
  padding: 10px;
  text-align: center;
  border-radius: 3px 3px 0px 0px;
  background: $menu-card-header-background;
}
.container.content .menu .card .card-header h2 {
  color: white;
}
.container.content .menu .card .card-content a {
  display: block;
  box-sizing: border-box;
  padding: 8px 10px;
  border-bottom: 1px solid #e4e1e1;
  text-decoration: none;
  color: $menu-card-link-color;
}
.container.content .menu .card .card-content a:hover {
  padding-left: 20px;
  background: $menu-card-link-hover;
  transition: 0.1s;
}
