$blog-background-color: white;
$navbar-background-color: #292929;
$header-tag-color: #0074d9;
$notification-message: #3c763d;
$error-color: #a94442;
$error-background: #f2dede;
$btn-color: white;
$btn-background: #4e6166;
$menu-card-header-background: #3e606f;
$menu-card-link-color: #444;
$menu-card-link-hover: #f9f9f9;
$table-edit-background: #004220;
$table-delete-background: #f70e1a;
$footer-background-color: #292929;
$header-background-color: black;
$continue-reading-background: #276fbf;
$remove-comment-color: blue;
